@import 'header.css';
@import 'input.css';
@import 'output.css';
@import 'buttons.css';
@import 'utilities.css';

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4 * 1fr);
  /* grid-template-rows: 75px calc(100vh - 75px); */
  grid-template-areas:
    'header header header header'
    'output output output output';
}
