@import '../../node_modules/normalize.css/normalize.css';
@import 'colors';

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    overflow: scroll;
    // overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: $color-mid--dark;
}
