$color-base: #1089ff;

$color-accent: saturate(
  adjust-color(complement($color-base), $hue: 15deg),
  100%
);
$color-white: scale-color($color-base, $lightness: 90%);
$color-bright: scale-color($color-base, $lightness: 50%);
$color-mid--bright: scale-color($color-base, $lightness: 25%);
$color-mid: $color-base;
$color-mid--dark: scale-color($color-base, $lightness: -25%);
$color-dark: scale-color($color-base, $lightness: -75%);

$color-checkboxComplete--open: $color-mid--dark;
$color-checkboxComplete--done: adjust-color(
  $color-accent,
  $hue: 65deg,
  $saturation: -35%,
  $lightness: -25%
);
