@import 'base';
@import 'uni-space';
@import 'variables';
@import 'colors';
@import 'mixins';
@import 'fonts';

::selection {
  background: $color-accent;
  color: $color-white;
}

html,
body,
#output {
  height: 100%;
  background: $color-bright;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-text;
}

// ! Header
.header {
  @include box-shadow();
  background: $color-dark;
  height: $header--height;
  width: 100vw;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  &__topBar {
    @include grid(1fr 1fr, 1rem, none, 0);
    @include box-shadow();
    height: $header__brand--height;
    padding: 0 $space-m 0;
    position: relative;
    z-index: 100;
    @media screen and (max-width: $breakpoint-xl) {
      @include grid(1fr 4fr, 1rem, none, 0);
    }
    .topBar {
      &__brand {
        @include flex(row nowrap, flex-start, center, center);
        .brand {
          &__logo {
            @include logoStyle($color-mid--dark, $color-accent);
          }
          &__slogan {
            @include text-shadow();
            color: $color-mid--bright;
            font-family: $font-text;
            margin-left: $space-xs;
            @media screen and (max-width: $breakpoint-xl) {
              display: none;
            }
          }
        }
      }
      &__login {
        @include flex(row nowrap, flex-end, center, center);
        width: 100%;
        * {
          margin: 0 $space-xs;
          height: calc(#{$header__brand--height} * 0.75);
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
        fieldset {
          outline: none;
          border: none;
          padding: 0;
        }
        input {
          @include inputStyle();
          padding-left: $space-xs;
          min-width: 3rem;
          max-width: 7.5rem;
        }
        button {
          @include btnStyle();
        }
      }
    }
  }
  &__command {
    @include flex(row nowrap, center, center, center);
    background: $color-mid--dark;
    height: $header__input--height;
    padding: 0 $space-m;
    position: relative;
    z-index: 99;
    * {
      height: calc(#{$header__input--height} * 0.75);
      margin: 0 $space-xs;
      flex-grow: 1;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    input {
      @include inputStyle();
      caret-color: $color-mid;
      text-align: center;
      font-family: $font-text;
      font-weight: 500;
      font-size: calc(#{$header__input--height} * 0.4);
      line-height: $header__input--height;
      &:focus {
        filter: drop-shadow(0 0 0.5rem $color-bright);
        color: $color-mid--bright;
      }
    }
    button {
      @include btnStyle();
    }
  }
}

// ! Todo Container

.todos__container {
  $column-width: 20rem;

  @include flex(column wrap, flex-start, flex-start, center);
  min-width: 100%;
  padding: $space-s $space-m;
  margin-top: $header--height;
  min-height: $todo__container--height;
  max-height: $todo__container--height;
  &__header {
    @include box-shadow();
    min-width: $column-width;
    max-width: $column-width;
    background: $color-mid--dark;
    color: $color-white;
    margin: $space-xs $space-s $space-xs 0;
    padding: $space-s;
    border-radius: $border-radius;
    text-transform: capitalize;
    // font-variant: small-caps;
    font-size: 1.5rem;
    text-align: center;
    font-family: $font-header;
  }
  .todo {
    @include box-shadow($color-dark);
    // @include flex(column nowrap, center, center, center);
    @include grid(1fr 1fr 1fr, 0, 0.5fr 1fr 0.75fr 0.5fr, $space-s);
    // flex-grow: 1;
    min-width: $column-width;
    max-width: $column-width;
    // padding: $space-s;
    background: $color-dark;
    border-radius: $border-radius;
    color: $color-white;
    margin: $space-xs $space-s $space-xs 0;
    &:hover {
      @include box-shadow($color-mid--dark);
      background: $color-mid--dark;
    }
    * {
      margin-bottom: $space-xxs;
    }
    &__clientId {
      @include box-shadow();
      @include text-shadow();
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      background: $color-mid;
      border-radius: $border-radius 0 $border-radius 0;
      padding: $space-xs;
      font-family: $font-header;
      span {
        font-weight: bold;
        font-size: 1.5rem;
      }
    }
    &__title {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
      font-family: $font-header;
      text-transform: capitalize;
      padding: $space-xxs 0;
      margin: 0 $space-m;
      font-weight: normal;
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 0;
      border-bottom: 5px solid $color-accent;
    }
    &__note {
      grid-column: 1 / 4;
      grid-row: 3 / 4;
      text-align: center;
      padding: $space-xxs $space-m;
      line-height: 1.25rem;
      color: $color-bright;
    }
    &__dateCreated {
      @include box-shadow--inset();
      grid-column: 3 / 4;
      grid-row: 4 / 5;
      text-align: center;
      padding: $space-xs;
      background: $color-mid--dark;
      margin-bottom: 0;
      border-radius: $border-radius 0 $border-radius 0;
    }
  }
}
