@import 'base';
@import 'uni-space';
@import 'variables';
@import 'colors';
@import 'mixins';
@import 'fonts';

::selection {
  background: $color-accent;
  color: $color-white;
}

html,
body,
#output {
  height: 100%;
  background: $color-bright;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-text;
}

// ! Header
.header {
  @include box-shadow();
  background: $color-dark;
  height: $header--height;
  width: 100vw;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  &__topBar {
    @include grid(1fr 1fr, 1rem, none, 0);
    @include box-shadow();
    height: $header__brand--height;
    padding: 0 $space-m 0;
    position: relative;
    z-index: 100;
    @media screen and (max-width: $breakpoint-xl) {
      @include grid(1fr 4fr, 1rem, none, 0);
    }
    .topBar {
      &__brand {
        @include flex(row nowrap, flex-start, center, center);
        .brand {
          &__logo {
            @include logoStyle($color-mid--dark, $color-accent);
          }
          &__slogan {
            @include text-shadow();
            color: $color-mid--bright;
            font-family: $font-text;
            margin-left: $space-xs;
            @media screen and (max-width: $breakpoint-xl) {
              display: none;
            }
          }
        }
      }
      &__login {
        @include flex(row nowrap, flex-end, center, center);
        width: 100%;
        * {
          margin: 0 $space-xs;
          height: calc(#{$header__brand--height} * 0.75);
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
        a {
          line-height: calc(#{$header__brand--height} * 0.75);
          #i-github {
            height: 1rem;
            cursor: pointer;
            path {
              fill: $color-mid--bright;
            }
            &:hover {
              path {
                fill: $color-white;
              }
            }
          }
        }
      }
    }
  }
  &__command {
    @include flex(row nowrap, center, center, center);
    background: $color-mid--dark;
    height: $header__input--height;
    padding: 0 $space-m;
    position: relative;
    z-index: 99;
    * {
      height: calc(#{$header__input--height} * 0.75);
      margin: 0 $space-xs;
      flex-grow: 1;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    input {
      @include inputStyle();
      caret-color: $color-mid;
      text-align: center;
      font-family: $font-text;
      font-weight: 500;
      font-size: calc(#{$header__input--height} * 0.4);
      line-height: $header__input--height;
      &:focus {
        filter: drop-shadow(0 0 0.5rem $color-bright);
        color: $color-mid--bright;
      }
    }
    button {
      @include btnStyle();
    }
  }
}

// ! Todo Container

.todos__container {
  $column-width: 20rem;

  @include flex(column wrap, flex-start, flex-start, center);
  min-width: 100%;
  padding: $space-s $space-m;
  margin-top: $header--height;
  min-height: $todo__container--height;
  max-height: $todo__container--height;
  &__header {
    @include box-shadow();
    min-width: $column-width;
    max-width: $column-width;
    background: $color-dark;
    color: $color-accent;
    margin: $space-xs $space-s $space-xs 0;
    padding: $space-s;
    border-radius: $border-radius;
    text-transform: capitalize;
    // font-variant: small-caps;
    font-size: 1.5rem;
    text-align: left;
    font-family: $font-header;
  }
  .todo {
    @include box-shadow($color-dark);
    @include flex(column nowrap, center, center, center);
    // flex-grow: 1;
    min-width: $column-width;
    max-width: $column-width;
    background: $color-dark;
    border-radius: $border-radius;
    color: $color-white;
    margin: $space-xs $space-s $space-xs 0;
    &--noNote {
      background: scale-color($color-dark, $lightness: 10%);
    }
    &:hover {
      opacity: 0.9;
    }
    &__title {
      font-family: $font-header;
      padding-bottom: $space-xs;
      margin: $space-s $space-s $space-xs;
      font-size: 1.75rem;
      text-align: left;
      align-self: flex-start;
      border-bottom: 3px solid $color-accent;
      &--noNote {
        border-bottom: none;
        padding: $space-xs;
        border-left: 3px solid $color-accent;
      }
    }
    &__note {
      align-self: flex-start;
      text-align: left;
      // text-align: center;
      padding: 0;
      margin: 0 $space-s $space-xs;
      line-height: 1.25rem;
      color: $color-bright;
    }
    .empty {
      display: none;
    }
    &__meta {
      @include flex(row nowrap, space-between, center, center);
      width: 100%;
      margin-top: $space-xs;
    }
    &__clientId {
      @include box-shadow--inset();
      @include text-shadow();
      background: scale-color($color-dark, $lightness: 7.5%);
      border-radius: 0 $border-radius 0 $border-radius;
      padding: $space-xs;
      font-family: $font-header;
      span {
        font-weight: bold;
        color: $color-accent;
      }
    }
    &__dateCreated {
      @include box-shadow--inset();
      @include text-shadow();
      text-align: center;
      padding: $space-xs;
      background: scale-color($color-dark, $lightness: 7.5%);
      border-radius: $border-radius 0 $border-radius 0;
    }
  }
}
